{% extends 'common.html' %}
{% block nav %}
<h1 class="text-light text-center">We Are...</h1>
<div class="border shadow p-5 mx-5 text-center">
    <h3>Govt.Polytechnic College</h3>
    <h5>Manjappetty,Nedumkandam, Idukki</h5>
    <h5>685553</h5>
    <h5>Kerala</h5>
    <a href="http://gptcnedumkandam.ac.in/" target="_blank" class="text-light mb-5" style="text-decoration: none;">
        <i class="fa-solid fa-globe fa-beat"></i>
        Visit</a><br>

    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.9105630673857!2d77.13856571065463!3d9.857870590199653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b07a6499f9cb0a9%3A0x6f0390b09bcbd3d0!2sGovernment%20Polytechnic%20College%20-%20Nedumkandam!5e0!3m2!1sen!2sin!4v1707484575667!5m2!1sen!2sin"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

    <iframe width="600" height="450" src="https://www.youtube.com/embed/bXOMqG-2uV0?si=qsFXcsOH78DxsdOk"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
</div>

{% endblock nav %}